{% extends 'base.html' %}

{% load static %}
{% block title %}About Moffat Bay Lodge{% endblock %}

{% block stylesheet %} {% static 'home.css' %} {% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}
    <main class="container mt-4 pt-5 pb-5">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="content-container">
            <h1 class="text-center mt-4">About Moffat Bay Lodge</h1>
            <p class="lead mt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde dicta
              tenetur aperiam repellendus cum quas.
            </p>
            <p class="mt-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
              molestiae fugiat consectetur corporis dignissimos sunt nostrum
              magnam odio recusandae voluptatem, expedita pariatur aperiam
              molestias perspiciatis quod reiciendis praesentium facere mollitia,
              natus ullam sit? Officiis eveniet, ipsum cum commodi, dolore dolores
              adipisci ex hic magnam a rem numquam asperiores ut rerum doloremque
              earum neque cumque natus. In eligendi assumenda officiis dolorum
              facilis obcaecati similique facere? Dicta repudiandae nihil nesciunt
              voluptatem sequi!
            </p>
            <p class="mt-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
              maiores assumenda animi minima odio maxime sint quam eius cupiditate
              itaque.
            </p>
            <p class="mt-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
              fugiat ratione quae optio animi! Asperiores corporis eaque autem
              optio nobis iste distinctio laboriosam rerum, voluptatum, sed cum,
              sapiente cupiditate vel!
            </p>
            <p class="mt-3">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis
              aspernatur necessitatibus id molestias obcaecati quibusdam!
            </p>
          </div>
        </div>
      </div>
    </main>
{% endblock %}

