{% extends 'base.html' %}

{% load static %}
{% block title %}About Moffat Bay Lodge{% endblock %}

{% block stylesheet %} {% static 'home.css' %} {% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}
    <div class="row">
      <div class="content-container">
        <h1 class="text-center mt-4">About Moffat Bay Lodge</h1>
        <p class="lead mt-4">
          Nestled in the heart of the San Juan Islands, Moffat Bay Lodge offers a serene escape where nature's beauty meets luxurioius comfort.
        </p>
        <p class="mt-3">
          Established in 1985, Moffat Bay Lodge has been a cherished destination for travelers seeking the unique charm of the Pacific Northwest. Our lodge is perched on the edge of a pristine bay, offering breathtaking views of the Salish Sea and the majestic Olympic Mountains. Here, the rhythms of nature set the pace, inviting our guests to unwind, explore, and create unforgettable memories.
        </p>
        <p class="mt-3">
          At Moffat Bay Lodge, we pride ourselves on providing a harmonious blend of rustic elegance and modern amenities. Our rooms are thoughtfully designed to reflect the natural beauty of our surroundings, featuring locally sourced materials and artwork from Pacific Northwest artists. Whether you're curling up with a book by our grand stone fireplace or watching the sunset from your private balcony, you'll feel at one with the stunning landscape that surrounds us.
        </p>
        <p class="mt-3">
          We are committed to preserving the natural wonders that make our location so special. Moffat Bay Lodge operates with a strong focus on sustainability, implementing eco-friendly practices throughout our operations. From our farm-to-table dining experience showcasing the best of local produce to our partnerships with conservation organizations, we strive to be responsible stewards of this incredible environment.
        </p>
        <p class="mt-3">
          Whether you're here for a romantic getaway, a family vacation, or a solo adventure, Moffat Bay Lodge offers an array of activities to enrich your stay. Embark on a whale watching expedition to spot majestic orcas, kayak in our tranquil waters, hike scenic trails, or simply relax and rejuvenate at our spa. Our dedicated staff is always on hand to ensure your experience is nothing short of exceptional.
        </p>
        <p class="mt-3">
          Come and discover the magic of Moffat Bay Lodge - where every stay is an opportunity to connect with nature, indulge in comfort, and create lasting memories in one of the most beautiful corners of the world.
        </p>
      </div>
    </div>
{% endblock %}

