{% extends 'base.html' %}

{% load static %}
{% block title %}Welcome to Moffat Bay Lodge{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block extra_head %}
<!-- Add any extra head content here -->
{% endblock %}

{% block content %}
  <div class="row" style="min-height: 100vh; margin-top: 15vh;">
    <div class="col-10 offset-1 col-md-8 offset-md-2  col-lg-6 offset-lg-3">
      <div class="">
        <div class="bg-white card mt-4" style="border-radius: 40px;">
          <div class="card-body text-center p-5">
            <img src="{% static 'Img/SalishSalmon.webp' %}" class="mb-3" style="width: 15%;" />
            <h2 style="font-family: 'Pacifico', cursive">Welcome to Moffat Bay Lodge</h2>
            {% if request.user.is_authenticated %}
            <h4 class="mt-3">Hello, <b>{{ request.user.first_name }} {{ request.user.last_name }}</b>!</h4>
            {% else %}
            <h4 class="mt-3">Experience the beauty and serenity of Moffat Bay.</h4>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="text-center mt-3">
        <a href="#adventure" class="nav-link link-light">
          <h5>Learn More!</h5>
        </a>
        <a href="#adventure" class="nav-link link-light">
          <i class="bi bi-arrow-down-circle-fill h3"></i>
        </a>
      </div>
    </div>
  </div>

  <div id="adventure" style="min-height: 50vh; padding-top: 10vh;" class="bg-success text-center">
    <h1 class="text-white" style="font-family: 'Pacifico', cursive">Prepare For Adventure!</h1>
    <div class="row d-flex justify-content-center p-5 mb-4">
      <div class="col-10 offset-1 col-lg-4 offset-lg-0 mt-3">
        <div class="card m-auto w-75 h-100">
          <img src="{% static 'Img\Dining\outdoordining.png' %}" class="card-img-top h-75" alt="Dining">
          <div class="card-body">
            <h2 style="font-family: 'Pacifico', cursive">Dine!</h2>
            <p class="card-text">Indulge in a memorable dining experience by the water, where our chef-inspired menu meets stunning lake views. Whether you're craving fresh local seafood, seasonal produce, or a perfectly paired glass of wine, our lodge offers the perfect setting for both casual meals and special occasions. Relax in our cozy dining room or enjoy the fresh breeze on our outdoor terrace as you take in the beauty of nature.</p>
          </div>
        </div>
      </div>
      <div class="col-10 offset-1 col-lg-4 offset-lg-0 mt-3">
        <div class="card m-auto w-75 h-100">
          <img src="{% static 'Img\Dining\Tiki Bar\lounge.jpg' %}" class="card-img-top h-75" alt="Lounge">
          <div class="card-body">
            <h2 style="font-family: 'Pacifico', cursive">Lounge!</h2>
            <p class="card-text">Step into comfort and relaxation in our cozy lakeside lounge, the perfect spot to unwind after a day of adventure. Enjoy handcrafted cocktails, local brews, or a selection of fine wines as you sink into plush seating by the fire. With its warm ambiance, breathtaking lake views, and inviting atmosphere, our lounge is the ideal place to gather with friends, share stories, or simply savor a quiet moment.</p>
          </div>
        </div>
      </div>
      <div class="col-10 offset-1 col-lg-4 offset-lg-0 mt-3">
        <div class="card m-auto w-75 h-100">
          <img src="{% static 'Img\Attractions\biking.jpg' %}" class="card-img-top h-75" alt="Explore">
          <div class="card-body">
            <h2 style="font-family: 'Pacifico', cursive">Explore!</h2>
            <p class="card-text">Adventure awaits just outside your door! Whether you're drawn to the serene waters of the lake or the lush, wooded trails, our lodge is surrounded by natural beauty. Spend your days kayaking, fishing, or hiking through scenic landscapes, then return to the lodge to relax and recharge. With plenty of outdoor activities for every season, there's always something new to discover. Let the beauty of nature inspire your next adventure!</p>
          </div>
        </div>
      </div>
    </div>
    <a href="{% url 'attractions' %}" class="btn btn-outline-light m-2 mb-3" style="font-size: 2rem; font-family: 'Pacifico', cursive">Find Your Adventure!</a>
    <a href="{% url 'about' %}" class="btn btn-outline-light m-2 mb-3" style="font-size: 2rem; font-family: 'Pacifico', cursive">Explore The Bay!</a>
    <a href="{% url 'book' %}" class="btn btn-outline-light m-2 mb-3" style="font-size: 2rem; font-family: 'Pacifico', cursive">Plan Your Trip!</a>

    <h2 class="text-center text-white mt-5">Book Your Stay!</h2>
    <div class="row">
      <div class="offset-1 col-10 content-container mt-3 mb-5">
        <div class="bg-success card" style="border-radius: 40px;">
          <form>
            <div class="row p-3">
              <div class="col">
                <label class="form-label text-white h5"><i class="bi bi-calendar4-week h3"></i> Check-In</label>
                <input type="date" class="form-control" />
              </div>
              <div class="col">
                <label class="form-label text-white h5"><i class="bi bi-calendar4-week h3"></i> Check-Out</label>
                <input type="date" class="form-control" />
              </div>
              <div class="col">
                <label class="form-label text-white h5"><i class="bi bi-person-arms-up h3"></i> Guests</label>
                <select class="form-control">
                  <option value="1" selected>1 Guest</option>
                  <option value="2">2 Guests</option>
                  <option value="3">3 Guests</option>
                  <option value="4">4 Guests</option>
                  <option value="5">5 Guests</option>
                  <option value="6">6 Guests</option>
                </select>
              </div>
            </div>
            <a href="{% url 'book' %}">
              <button type="button" class="btn btn-outline-light float-end mt-0 me-4 mb-3">Find A Room!</button>
            </a>
          </form>
        </div>
    </div>
    </div>
  </div>
{% endblock %}


{% comment %} 
For all other html files that are made please follow these steps:
- Create a new file in the templates folder. For example; about.html
- Copy the contents of the home.html file into the new file
- Change the title of the page in the title block. For example; {% block title %}About Moffat Bay Lodge{% endblock %}
** Notes: The header will be the same header as the base.html file. Anything that is put into the content block or title blocks on this page will replace the content in the base.html file.
- Change the content of the page in the content block. For example; {% block content %}<p> this is the content of the about page </p>{% endblock %}
- Save the file with the name of the page you want to create
- Create a new view in the views.py file in the Pages app(they are called apps). For example; class AboutPageView(TemplateView): template_name = 'about.html'
- Create a new URL path in the urls.py file in the Pages app and follow the page with a slash. For example; path('about/', AboutPageView.as_view(), name='about'),
-Normally the Pages urls would need to be imported into the Config urls.py file, then used in the file, though that has already been handled for the pages app.
-Lastly, if you want to add the newly created template to the navbar, put it in the href of the anchor tag in the base.html file. What is put in the url tag depends on what it is named in the urls.py file in the Pages app. In this case, about/ was given the name 'about'. For example; <a class="nav-link" href="{% url 'about' %}">About The Bay</a>
{% endcomment %}

{% comment %} 
One last helpful comment. If you are trying to LOAD ANYTHING FROM the static folder, which should be images or CSS files, before you use that thing, you must include a {% load static %} block above that. You will see that I included this on every page 
{% endcomment %}