{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div class="container">
        <h1>Rooms</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Room Type</th>
                    <th>Base Price</th>
                    <th>Max Occupancy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                    <tr>
                        <td>{{ room.room_type_name }}</td>
                        <td>{{ room.base_price }}</td>
                        <td>{{ room.max_occupancy }}</td>
                        <td>
                            <a href="{% url 'rooms:room_detail' room.roomTypeID %}" class="btn btn-info">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}